@using Microsoft.AspNetCore.Mvc
@model LicenseeRecords.WebAPI.Models.Account
@{
    ViewData["Title"] = "Account Editor";

    var Products = ViewBag.Products as List<LicenseeRecords.WebAPI.Models.Product> ?? [];

    Console.WriteLine(Products.Count());

    bool IsNewAccount = Model.AccountId == 0;
    string PostAction = IsNewAccount ? "Create" : "Edit";

    bool AccountActive = Model.AccountStatus == LicenseeRecords.WebAPI.Enums.Status.Active;

    var ActiveLicences = Model.ProductLicence.Where(x => x.LicenceStatus == LicenseeRecords.WebAPI.Enums.Status.Active).ToList();

    var PreviousLicences = Model.ProductLicence.Where(x => x.LicenceStatus == LicenseeRecords.WebAPI.Enums.Status.Inactive).ToList();

    int Index = 0;
}
<a href="/accounts" class="govuk-back-link">Back</a>


@if (IsNewAccount)
{
    <h1 class="govuk-heading-s new-account-banner">You are creating a new account</h1>
}


<div class="govuk-width-container">
    <form id="account-form" onsubmit="formSubmission(event)" method="post" action="/accounts/@PostAction">
        <div class="inline-title">
        <h1 class="govuk-heading-l">@Model.AccountName</h1>
        <button id="form-submission" type="submit" class="govuk-button static-button govuk-button--secondary" data-module="govuk-button">
                @if(IsNewAccount)
                {
                    <span>Create account</span>
                } else
                {
                    <span>No changes to save</span>
                }
            </button>
        </div>

        <!-- Account Details -->

        <input name="AccountId" type="hidden" value="@Model.AccountId">

        <div class="govuk-form-group">
            <h1 class="govuk-label-wrapper">
                <label class="govuk-label" for="AccountName">
                    Account name
                </label>
            </h1>
            <input class="govuk-input" name="AccountName" type="text" value="@Model.AccountName">
        </div>
            
        <div class="govuk-form-group">
            <label class="govuk-label" for="AccountStatus">
                Account status
            </label>
            <select class="govuk-select" name="AccountStatus">
                @if (AccountActive)
                {
                    <option value="Active" selected>Active</option>
                    <option value="Inactive">Inactive</option>
                }
                else
                {
                    <option value="Active">Active</option>
                    <option value="Inactive" selected>Inactive</option>
                }")
            </select>
        </div>
 
        <div class="licence-break"></div>

        <!-- Licence Sections -->

        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l inline-title">
                <h1 class="govuk-fieldset__heading">
                    Active Licences
                </h1>
                <button type="button" onclick="generateLicence()" class="govuk-button static-button no-margin" data-module="govuk-button">
                    Add Licence
                </button>
            </legend>

            @if (ActiveLicences.Count == 0)
            {
                <p class="govuk-body">No active licences</p>
            }
            <div id="active-licence-container">
                @foreach (var ActiveLicence in ActiveLicences) {
                    <input name="ProductLicence[@Index].LicenceId" type="hidden" value="@ActiveLicence?.LicenceId">
                    <input name="ProductLicence[@Index].Product.ProductId" type="hidden" value="@ActiveLicence?.Product.ProductId">
                    <input name="ProductLicence[@Index].Product.ProductName" type="hidden" value="@ActiveLicence?.Product.ProductName">
                    <div class="licence-break"></div>
                    <div class="govuk-grid-row licence-group">
                        <div class="govuk-grid-column-two-thirds">
                            <div class="govuk-form-group" disabled>
                                <label class="govuk-label" for="product-selector">
                                    Product
                                </label>
                                <select oninput="updateProductId(this)" data-linkedId="ProductLicence[@Index].Product.ProductId" data-linkedName="ProductLicence[@Index].Product.ProductName" class="govuk-select" name="product-selector">
                                    @foreach(var product in Products)
                                    {
                                        @if(product.ProductName == ActiveLicence.Product.ProductName)
                                        {
                                            <option value="@product.ProductId-@product.ProductName" selected>@product.ProductName</option>
                                        } else                                         
                                        {
                                            <option value="@product.ProductId-@product.ProductName">@product.ProductName</option>
                                        }

                                    }
                                </select>
                            </div>
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="ProductLicence[@Index].LicenceFromDate">
                                    Starting Date
                                </label>
                                <input class="govuk-input" name="ProductLicence[@Index].LicenceFromDate" type="datetime-local" value="@ActiveLicence?.LicenceFromDate.ToString("yyyy-MM-ddThh:mm")">
                            </div>
                        </div>

                        <div class="govuk-grid-column-one-third">
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="ProductLicence[@Index].LicenceStatus">
                                    Licence Status
                                </label>
                                <select class="govuk-select" name="ProductLicence[@Index].LicenceStatus">
                                    @if (ActiveLicence.LicenceStatus == LicenseeRecords.WebAPI.Enums.Status.Active)
                                    {
                                        <option value="Active" selected>Active</option>
                                        <option value="Inactive">Inactive</option>
                                    }
                                    else
                                    {
                                        <option value="Active">Active</option>
                                        <option value="Inactive" selected>Inactive</option>
                                    }")
                                </select>
                            </div>

                            <div class="govuk-form-group">
                                <label class="govuk-label" for="ProductLicence[@Index].LicenceToDate">
                                    Closing Date
                                </label>
                                <input class="govuk-input" name="ProductLicence[@Index].LicenceToDate" type="date">
                            </div>
                        </div>
                        @{Index++;}
                    </div>
                }  
            </div>
        </fieldset>

        <div class="licence-break"></div>

        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading grey-out">
                    Previously Active Licences
                </h1>
            </legend>

            @if(PreviousLicences.Count == 0)
            {
                <p class="govuk-body">No previously active licences</p>
            }
            <div id="previous-licence-container">
                @foreach (var PreviousLicence in PreviousLicences)
                {
                    <input name="ProductLicence[@Index].LicenceId" type="hidden" value="@PreviousLicence?.LicenceId">
                    <input name="ProductLicence[@Index].Product.ProductId" type="hidden" value="@PreviousLicence?.Product.ProductId">
                    <input name="ProductLicence[@Index].Product.ProductName" type="hidden" value="@PreviousLicence?.Product.ProductName">
                    <div class="licence-break"></div>
                    <div class="govuk-grid-row licence-group">
                        <div class="govuk-grid-column-two-thirds">
                            <div class="govuk-form-group" disabled>
                                <label class="govuk-label" for="product-selector">
                                    Product
                                </label>
                                <select oninput="updateProductId(this)" data-linkedId="ProductLicence[@Index].Product.ProductId" data-linkedName="ProductLicence[@Index].Product.ProductName" class="govuk-select" name="product-selector">
                                    @foreach (var product in Products)
                                    {
                                        @if (product.ProductName == PreviousLicence?.Product.ProductName)
                                        {
                                            <option value="@product.ProductId-@product.ProductName" selected>@product.ProductName</option>
                                        }
                                        else
                                        {
                                            <option value="@product.ProductId-@product.ProductName">@product.ProductName</option>
                                        }

                                    }
                                </select>
                            </div>
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="ProductLicence[@Index].LicenceFromDate">
                                    Starting Date
                                </label>
                                <input class="govuk-input" name="ProductLicence[@Index].LicenceFromDate" type="datetime-local" value="@PreviousLicence?.LicenceFromDate.ToString("yyyy-MM-ddThh:mm")">
                            </div>
                        </div>

                        <div class="govuk-grid-column-one-third">
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="ProductLicence[@Index].LicenceStatus">
                                    Licence Status
                                </label>
                                <select class="govuk-select" name="ProductLicence[@Index].LicenceStatus">
                                    @if (PreviousLicence.LicenceStatus == LicenseeRecords.WebAPI.Enums.Status.Active)
                                    {
                                        <option value="Active" selected>Active</option>
                                        <option value="Inactive">Inactive</option>
                                    }
                                    else
                                    {
                                        <option value="Active">Active</option>
                                        <option value="Inactive" selected>Inactive</option>
                                    }
                                </select>
                            </div>

                            <div class="govuk-form-group">
                                <label class="govuk-label" for="ProductLicence[@Index].LicenceToDate">
                                    Date Closed
                                </label>
                                <input class="govuk-input" name="ProductLicence[@Index].LicenceToDate" type="datetime-local" value="@PreviousLicence?.LicenceToDate?.ToString("yyyy-MM-ddThh:mm")">
                            </div>
                        </div>
                        @{Index++;}
                    </div>
                }
            </div>
        </fieldset>

        @if (!IsNewAccount)
        {
            <div class="licence-break"></div>

            <div>
                <h1 class="govuk-heading-m">Delete Account</h1>
            <button onclick="deleteAccount(event)" type="submit" class="govuk-button static-button govuk-button--warning" data-module="govuk-button">
                Permanently delete account
            </button>
        </div>
        }
    </form>
</div>

<!-- Hidden licence HTML example for creating new elements -->

<div id="example-licence" style="display: none">
    <input name="ProductLicence[-1].LicenceId" type="hidden" value="0">
    @if(Products.Count >= 1)
    {
        <input name="ProductLicence[-1].Product.ProductId" type="hidden" value="@Products[0].ProductId">
        <input name="ProductLicence[-1].Product.ProductName" type="hidden" value="@Products[0].ProductName">
    } else
    {
        <input name="ProductLicence[-1].Product.ProductId" type="hidden" value="0">
        <input name="ProductLicence[-1].Product.ProductName" type="hidden" value="None">
    }
    <div class="licence-break"></div>
    <div class="govuk-grid-row licence-group-new">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-form-group" disabled>
                <label class="govuk-label" for="product-selector">
                    Product
                </label>
                <select oninput="updateProductId(this)" data-linkedId="ProductLicence[-1].Product.ProductId" data-linkedName="ProductLicence[-1].Product.ProductName" class="govuk-select" name="product-selector">
                    @foreach (var product in Products)
                    {
                        @if (product.ProductName == Products[0].ProductName)
                        {
                            <option value="@product.ProductId-@product.ProductName" selected>@product.ProductName</option>
                        }
                        else
                        {
                            <option value="@product.ProductId-@product.ProductName">@product.ProductName</option>
                        }

                    }
                </select>
            </div>
            <div class="govuk-form-group">
                <label class="govuk-label" for="ProductLicence[-1].LicenceFromDate">
                    Starting Date
                </label>
                <input class="govuk-input" name="ProductLicence[-1].LicenceFromDate" type="datetime-local" value="">
            </div>
        </div>

        <div class="govuk-grid-column-one-third">
            <div class="govuk-form-group">
                <label class="govuk-label" for="ProductLicence[-1].LicenceStatus">
                    Licence Status
                </label>
                <select class="govuk-select" name="ProductLicence[-1].LicenceStatus">
                    <option value="Active">Active</option>
                    <option value="Inactive" selected>Inactive</option>
                </select>
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="ProductLicence[-1].LicenceToDate">
                    Date Closed
                </label>
                <input class="govuk-input" name="ProductLicence[-1].LicenceToDate" type="datetime-local" value="">
            </div>
        </div>
    </div>
</div>

<script>
    let index = parseInt(@Index);
    let hasChanges = false;
    const formType = "@(IsNewAccount ? "create" : "edit")";

    function generateLicence() {
        const licence = document.getElementById("example-licence").innerHTML;

        const container = document.getElementById("active-licence-container");

        const newLicence = licence.replace(/-1/g, index);

        container.innerHTML += newLicence;
        
        index++;
        updateSubmissionButton();
    }

    function updateSubmissionButton() {
        if (hasChanges) {
            return;
        }

        hasChanges = true;
        const button = document.querySelector('#form-submission');

        if (formType == "create") { 
            button.innerText = "Create account";
        } else {
            button.innerText = "Save changes";
        }
        
        
        button.classList.remove('govuk-button--secondary');
    }

    function formSubmission(event) {
        if (!hasChanges) {
            event.preventDefault();
        }
    }

    document.querySelector('form').addEventListener('input', function (event) {
        updateSubmissionButton();
    });

    function updateProductId(element) {
        const parts = element.value.split('-');
        const id = parts[0];
        const name = parts[1];
        
        const linkedId = element.getAttribute('data-linkedId');
        const linkedName = element.getAttribute('data-linkedName');

        document.querySelector(`input[name="${linkedId}"]`).value = id;
        document.querySelector(`input[name="${linkedName}"]`).value = name;
    }

    function deleteAccount(event) {
        event.preventDefault();
        const form = document.getElementById('account-form');
        form.action = "/accounts/delete";
        form.submit();
    }
</script>